@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error 404.</h1>
<h2 class="text-danger">Page not found.</h2>

<div class="row">
    <div class="col">
        <a asp-action="Index" asp-controller="Home">Go home</a>
    </div>
</div>