@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This application was created as coding experiance presentation of ASP.NET senior developer Darina Adamec for Bayclays company.</p>