
@{
    ViewData["Title"] = "TODO application";
}
<div class="text-center">
    <h1 class="display-4">Welcome in TODO application</h1>
    
    <section>
        @Html.Partial("~/Views/Todo/_TodoList.cshtml")
    </section>
</div>